# Ignore processed data files
data/processed/
# Keep raw data
!data/raw/

# Ignore environment files
*.env

# Python cache
__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/

# Pickle files
*.pkl
