# Ignore everything inside these folders
data/raw/*
data/processed/*

# But don't ignore the folders themselves
!data/raw/
!data/processed/

# Ignore environment files
*.env

# Python cache
__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/
